* {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    font-weight: 700;
    font-family: 'Mochiy Pop P One', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(57, 9, 120);
    background-color: #181818;
}

.login-div {
    width: 430px;
    height: 700px;
    background-color: #272828;
    padding: 60px 35px 35px 35px;
    border-radius: 40px;
    box-shadow: 13px 13px 20px #261c48, -13px -13px 20px #261c48;
}

#logo {
    background: url(./1713572.jpg);
    width: 100px;
    height: 100px;
    margin: auto auto;
    border-radius: 50px;
    background-size: 100px 100px;
    box-shadow: 1px 1px 1px #272828, 10px 10px 2px 10px #272828, -1px -1px 1px #000000, 9px 9px 10px 3px #272828;
    background-position: center;
}

h1 {
    text-align: center;
    font-size: 30px;
}

.fields {
    width: 100%;
    padding: 20px 10px 20px 5px;
    margin-top: 40px;
}

.fields input {
    outline: none;
    border: none;
    background: none;
    font-size: 18px;
    padding: 20px 10px 20px 5px;
}

.username,
.password {
    width: 100%;
    margin-bottom: 30px;
    border-radius: 25px;
    box-shadow: 8px 8px 8px #2d105b;
}

i {
    height: 22px;
    margin: 0 10px -4px 25px;
}

.login-btn {
    border: none;
    cursor: pointer;
    width: 95%;
    height: 50px;
    align-items: center;
    background: #1b092d;
    border-radius: 30px;
    color: #18099e;
    font-weight: 700;
    font-size: 1.3rem;
    box-shadow: 3px 3px 8px #261c48, -5px -5px 8px #261c48;
    transition: all .5s ease-out;
}

.login-btn:hover {
    background-color: #2c006e;
    font-size: 1.5rem;
    height: 11%;
}

.link {
    text-align: center;
    margin-top: 30px;
}

.link a {
    text-decoration: none;
    color: rgb(126, 0, 175);
    font-size: 15px;
}